.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}

.inner-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10vh;
    background-color: '#ffbb00';
    align-items: 'center';
}

.menu-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 7vh;
    background-color: '#ffbb00';
    align-items: 'center';
    border: 1px solid black;
}

.column {
    flex-basis: 100%;
    height: 100vh;
    background-color: #a4c639;
    border: 1px solid rgb(105, 104, 104);
}
.grid-row {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
  }
.inner-column {
    flex: 25%;
    padding: 20px;
    border: 1px solid black;
    max-height: 40vh;
    
}

.box {
    background-color: white;
    width: 20%;
    height: 40%;

}


.main-area {
    flex-basis: 100%;
    height: 100vh;
    background-color: #a4c639;
    border: 1px solid rgb(105, 104, 104);
}

@media screen and (min-width: 800px) {
    ._25 {
        flex: 2.5;
    }

    ._55 {
        flex: 5.5;
    }

    ._20 {
        flex: 2;
    }

    ._15 {
        flex: 1.5;
    }
}
/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .inner-column {
      flex: 50%;
    }
  }
  
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .grid-row {
      flex-direction: column;
    }
  }